@tailwind base;
@tailwind components;
@tailwind utilities;

/* @config "@/app/tailwind.config.ts"; */

.light {
  --color-primary: #463f3a;
  --color-secondary: #e0afa0;
  --color-background: #f4f3ee;
  --color-background-2: #bcb8b1;
}

.dark {
  --color-primary: #ccc9dc;
  --color-secondary: rgba(50, 74, 95, 1);
  --color-background: #1b2a41;
  --color-background-2: #0c1821;
}




body {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: #0a0a0a;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}